@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin:0;
    padding : 0;
    box-sizing : border-box ;
}
body{
    font-family: 'Poppins', sans-serif;
}
.outer-box{
    width : 100vw;
    height : 100vh;
    background : linear-gradient(to top left, rgb(65, 188, 199),rgb(97, 160, 211) );
}
.inner-box {
    width:400px;
    margin: 0 auto;
    position :relative;
    top: 40%;
    transform: translateY(-50%);
    padding : 20px 40px;
    background: linear-gradient(to top left, white ,#ffffff33);
    /* background-color: #ffffffcc; */
    border-radius: 8px;
    box-shadow: 2px 2px 5px #2773a5;
    z-index:2;
}
.signup-header h1{
    font-size :2.5rem;
    color : #212121;
}
.signup-header p{
    font-size: 0.8rem;
    color : #555;
}
.signup-body {
    margin : 20px 0;
}
.signup-body p {
    margin : 10px 0;
}
.signup-body p label{
    display : block;
    font-weight : bold;
}
.signup-body p input{
    width: 100%;
    padding : 10PX;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}
.signup-body p input[type="submit"]{
    background-color: rgb(69, 166, 240);
    border : none;
    color : white;
    cursor: pointer;
}
.signup-body p input[type="submit"] :hover{
    background-color: rgb(47, 116, 169);
}
.signup-footer p{
    color :#555;
    text-align: center;
}
.signup-footer p a{
    color :rgb(69, 166, 240);
}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background :linear-gradient(to top left, #ffffff33 #ffffff);
    position: absolute;
}
.c1 {
    top:80px;
    left:40px;
}
.c2 {
    bottom:200px;
    right:50px;
}